# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist
dist-ssr
*.local
/test-js
portalb2b.db-shm
portalb2b.db-wal
portalb2b.db
portalb2b.db.bak
# walkthrough.md
fix_urls.js
inspect_db.js
security-test.js
test-create-user.js
test_roles_api.js
verify_delegaciones.js
verify_permisos.js

creacion-permisos-accesos.sql
intruducir-datos-permisos.sql
comprobacion-usuarios.sql

check_config.js
check_vistas.js
check_columns.js
migrate_db.js


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
  